<!DOCTYPE html>
<html lang="pt_br ">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block title %}
    <title>Ecoleta</title>    
  {% endblock %}

  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">

  <link rel="stylesheet" href="/styles/style.css">

  {% block styles %}

  {% endblock %}

</head>
<body>

  <div id="{{ pageId }}">

  {% block content %}

  {% endblock %} 

  </div>  
   
  {% block scripts %}

  {% endblock %} 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>
</body>
</html>