#create-point {
  height: 90%;
  max-height: 900px;
}

 header.red {
  margin-top: 36px;
  padding: 24px;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

main {
  background-color: white;
  padding: 48px;
  border-radius: 24px;

  height: 90%;

  width: 80%;
  max-width: 900px;
}

form h1 {
  font-size: 36px;
}

form fieldset {
  margin-top: 64px;

  border: 0;
}

form legend {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

form legend h2 {
  font-size: 24px;
}

form legend span {
  font-size: 14px;

  color: #322153;   
}

form .field {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 24px;
  
}

form .field-group {
  display: flex;
}

form input,
form select {
  background-color: #f0f0f7;
  border: 0;
  font-size: 16px;
  padding: 16px 24px;
  
  border-radius: 6px;
  
  outline: none;
}

form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -appearance: none;
}

form label {
  font-size: 16px;
  margin-bottom: 8px;
  
  color: #322153;
}

form .field-group .field + .field {
  margin-left: 24px;
}

form button {
  width: 250px;
  height: 56px;
  margin-top: 36px;
  background-color:  #51fa51;
  color: white;
  font-size: 16px;
  font-weight: bold;

  border-radius: 8px;
  border: none;

  transition: 0.2s;
}

form button:hover {
  background-color: #2fb86e;
}

.items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.items-grid li {
  background-color: #f0f0f7;
  border-radius: 8px;
  height: 180px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;
  cursor: pointer;

}

.items-grid li span {
  margin-top: 12px;
  flex: 1;
  display: flex;
  align-items: center;

  color: #322153;
}

.items-grid li.selected {
  background-color: #e1faec;
  border: 2px solid #34cb79;
}

.items-grid li img,
.items-grid li span {
  pointer-events: none;
}

@media (max-width: 900px) {

  form .field-group {
    flex-direction: column;
  } 

  form .field-group .field + .field {
    margin-left: 0;
  }

  .items-grid {
    grid-template-columns: 1fr 1fr;
  }
}