body {
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

#page-home {
  height: 100vh;
  background: url('../img/icones/home-background.svg') no-repeat;
  background-position: 35vw bottom;
}

#page-home .content {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
margin-top: 48px;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

header a {
  display: flex;

  color: var(--title-color);
  font-weight: 700;
  text-decoration: none;
}

header a span {
  display: flex;
  background: url('../img/icones/log-in.svg');

  width: 20px;
  height: 20px;
}

#page-home main {
  max-width: 560px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  
}

#page-home main h1 {
  font-size: 54px;
}

#page-home main p {
  font-size: 24px;
  line-height: 38px;
  margin-top: 28px;
}

#page-home main a {
  width: 100%;
  max-width: 360px;
  height: 72px;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

  margin-top: 48px;
  background-color: #51fa51;
  transition: 0.2s;
}

#page-home main a:hover {
  background-color: #26a126;
}

main a span {
  display: flex;

  width: 72px;
  height: 72px;
  align-items: center;
  justify-content: center;
}


main a span::after {
  content: "";
  background-image: url('../img/icones/search.svg');
  
  width: 20px;
  height: 20px;
}

main a strong {
  flex: 1;
  text-align: center;
}

@media (max-width: 900px) {
  #page-home {
    background-position-x: 70vw;
  }

  #page-home .content {
    align-items: center;
    text-align: center;
  }

  #page-home main {
    align-items: center;
  }

  #page-home header a {
    position: absolute;
    bottom: 48px;

    left: 50%;
    transform: translateX(-50%);
  }

}

@media (max-height: 760px) {
  #page-home {
    background-position-y: 200px;
    
  }
}