
#page-home {
  width: 100%;
  display: flex;
  justify-content: center;
}


#page-home .content {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  max-width: 1200px;
  height: 60%;
  max-height: 800px;
  padding: 40px;
  background-color: white;
  
  box-shadow: 0 10px 50px #000000af;
  /* box-shadow: 0 10px 50px rgba(252, 56, 56, 0.9); */
  border-radius: 24px;
}

.content section {
  display: flex;
}

.content span#img-home img {
  display: block;
  height: 350px;
  object-fit: cover;
  width: auto;
}

header {
  padding-bottom: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

header a {
  display: flex;
  font-size: 1.6rem;
  color: var(--title-color);
  font-weight: 700;
  text-decoration: none;
}

header a span {
  display: flex;
  background: url('../img/icones/log-in.svg');

  width: 20px;
  height: 20px;
}

#page-home main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

#page-home main h1 {
  font-size: 4.8rem;
}

#page-home main p {
  font-size: 2.4rem;
  line-height: 3.8rem;
  margin-top: 28px;
}

#page-home main a {
  width: 100%;
  max-width: 300px;
  height: 72px;
  color: white;
  font-size: 1.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

  margin-top: 36px;
  background-color: #51fa51;
  transition: 0.2s;
}

#page-home main a:hover {
  background-color: #26a126;
}

main a span {
  display: flex;

  width: 72px;
  height: 72px;
  align-items: center;
  justify-content: center;
}


main a span::after {
  content: "";
  background-image: url('../img/icones/search.svg');
  
  width: 20px;
  height: 20px;
}

main a strong {
  flex: 1;
  text-align: center;
}

#modal .content {
  background-color: transparent;
  box-shadow: none;
}


@media (max-width: 950px) {
  html {
    font-size: 50%;
  }

  #page-home {
    background-position-x: 70vw;
  }

  #page-home .content {
    align-items: center;
    text-align: center;
  }

  #page-home main {
    align-items: center;
  }

  #page-home header a {
    position: absolute;
    bottom: 48px;

    left: 50%;
    transform: translateX(-50%);
  }

  .content section {
    flex-direction: column;
  }

}

@media (max-height: 760px) {
  #page-home {
    background-position-y: 200px;
    
  }
}

